#header {
   
}

ul.hard-skills {
    list-style: none;  /* Remove os marcadores padrão */
    padding: 0;
  }
  
  ul.hard-skills li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  ul.hard-skills li i {
    margin-right: 10px;  /* Espaçamento entre o ícone e o texto */
    color: #d4d4d4;      /* Cor personalizada para os ícones */
    font-size: 18px;     /* Tamanho dos ícones */
  }

  ul.soft-skills {
    list-style: none;  /* Remove os marcadores padrão */
    padding: 0;
  }
  
  ul.soft-skills li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  ul.soft-skills li i {
    margin-right: 10px;  /* Espaçamento entre o ícone e o texto */
    color: #28a745;      /* Cor personalizada para os ícones */
    font-size: 18px;     /* Tamanho dos ícones */
  }
  