* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 50px 0;
  background: linear-gradient(-45deg, rgb(37, 37, 37), #afafaf);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.container {

}

ul.hard-skills {
  list-style: none;
  padding: 0;
}

ul.hard-skills li {
  margin-bottom: 10px;
  font-size: 16px;
}

ul.hard-skills li i {
  margin-right: 10px;
  color: #d4d4d4;
  font-size: 18px;
}

ul.soft-skills {
  list-style: none;
  padding: 0;
}

ul.soft-skills li {
  margin-bottom: 10px;
  font-size: 16px;
}

ul.soft-skills li i {
  margin-right: 10px;
  font-size: 18px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

h1, h2 {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28.8px;
}

h3, li {
  font-size: 19.2px;
  color: #eee;
  text-align: center;
  max-width: 800px;
  line-height: 1.6;
  margin-bottom: 20px;
}

p {

}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons i {
  font-size: 40px;
  color: #fff;
  transition: color 0.3s ease;
}

.icons i:hover {
  color: #8a00ff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .icons i {
    font-size: 32px;
  }
}