#header {
   
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 80px 150px 60px 150px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(20, 20, 20);
    padding: 10px 20px;
    display: block;
    margin: 0 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul li:hover ul {
    display: block;
}